<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stroke Prediction</title>
</head>
<body>
    <h1>Stroke Prediction</h1>
    <form action="/predict" method="post">
        <label for="Age">Age:</label><br>
        <input type="number" id="Age" name="Age"><br>
        <label for="Height">Height:</label><br>
        <input type="number" id="Height" name="Height"><br>
        <label for="Weight">Weight:</label><br>
        <input type="number" id="Weight" name="Weight"><br>
        <label for="BMI">BMI:</label><br>
        <input type="number" id="BMI" name="BMI"><br>
        <label for="PhysicalActivityLevel">Physical Activity Level:</label><br>
        <input type="number" id="PhysicalActivityLevel" name="PhysicalActivityLevel"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
